spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL_LOCAL}
    username: ${DB_USER_LOCAL}
    password: ${DB_PASSWORD_LOCAL}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
logging:
  level:
    root: INFO
#CONFIGURA O MONITORAMENTO DE DE SAÚDE E MÉTRICAS DA APLICAÇÃO
management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      show-details: always
security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}
      expire-length: 3600000

